@import "bootstrap/bootstrap.less";
@import "variables.less";
body{
	background-color: #edeff0;

	.glyphicon { margin: 10px; }
	/*.container{background-color: white;}*/
	.nav-pills li{border-bottom: solid 1px #e7e7e7;margin: 0;}
	.nav-pills a{padding: 20px 4px; text-decoration: none;}
	.nav-pills{font-size: 16px; background-color: white;}
	.navbar-header{text-align: center;}
	.wrapper{position: relative;}
	.row {margin: 0;}
	.btn-success{ width: 100px; border: 1px solid #C2C2BE; border-radius: 9px;text-transform: uppercase;}
}
body{background-color: #F4F4FC!important;	font-size: 16px!important;}
.category{ text-transform: uppercase; font-size: 20px; margin-bottom: 20px; }
.menu-category{ float: left; width: 100%;}

.nav-pills a{padding: 20px 4px 20px 20px!important; font-size: 14px;}
.laptop-wrap{ padding-top: 40px; background-color: white; text-align: center;}
.item-col .row{background-color: white; border-radius: 20px;}
.item-col img{text-align: center;}
.item-col .container{  border-bottom: 1px solid #E4E4E5;}
.img-container{width: 100%; text-align: center;}
.item-col .container div{margin: 3px 0;}
.item-col .container{padding-top: 20px;}
.price {padding: 10px;margin-right: 20px!important;  background-color: #FFE2C6; border-radius: 10px;color: #FF4791; font-size: 18px;}
.inline div{display: inline-block;}
.paginator-container{text-align: center;background-color: #F4F4FC}
footer{background: none repeat scroll 0 0 #D9D9D9;border-top: 1px solid #E4E4E5; padding: 40px 0 0 0;  font-size: 12px; font-family: "Open Sans"; }
.share-buttons img{ margin-right: 10px;}
.menu-category-container{padding-right: 0;}
.navbar-container, .footer-container{padding: 0 45px;}
.logo-container{ padding: 10px;}
.search :hover{background-color: none!important;}
.logo{margin-right: 20px;}
.navbar-form .btn-default{padding: 0; margin-left: 10px!important; border: none;background-color: transparent!important; float: left;}
.navbar-form .input-group-btn{float: left;}
.navbar-form {float: right; margin-right: 20px;}
.navbar-header{margin-right: 60px;}

footer ul{list-style: none;}
footer ul li{margin-bottom: 4px; }
footer .footer-container{border-bottom: 1px solid #C2C2BE;margin-bottom: 10px}
.copyright-container{text-align: center; color: #7A7A7A; letter-spacing: 1px;}

footer .col-md-3 {
    padding: 10px 25px;
}
.footer-content{height: 100px;}
.item{height: 280px; width: auto; border-right: 1px solid #E4E4E5; }
.item-col .col-md-4, .item-col .col-sm-6,.item-col .col-xs-12{height: 330px;padding: 20px 0 0 15px;}