@font-size-base: 12px;
@navbar-height: 40px;
@navbar-default-bg: #229ac8;
@navbar-default-link-color: #FFFFFF;
@navbar-default-link-hover-bg: #1B7BA0;
@navbar-default-link-hover-color: @navbar-default-link-color;
@font-size-base: 14px;
@navbar-default-color: #FFFFFF;

